(:div :class "content-search-header"
      (:ul :class "pager content-search-item"
	   (:li 
	    (:a :href "/boardgame/" :data-bind "click: function(data, event) { $root.topLinkClick(data,event)}" "新着"))
	   (:li 
	    (:a :href "/boardgame/gamelist/" "レビュー"))
	   (:li 
	    (:a :href "/boardgame/about/" "ゲーム会"))))
